In [118]:
import pandas as pd
import os
import sklearn
import numpy as np
import pandas as pd
import numpy as np, pandas as pd
import matplotlib.pyplot as plt
from sklearn import tree, metrics
from sklearn.model_selection import train_test_split

In [119]:
df_21 = pd.read_csv("players_21.csv", low_memory=False)

In [120]:
df_22 = pd.read_csv("players_22.csv", low_memory=False)

In [121]:
data21 = df_21.copy()
data22 = df_22.copy()

In [122]:
corr_matrix = df_21.corr(numeric_only=True)
corr_matrix['overall'].sort_values(ascending=False)

overall                        1.000000
movement_reactions             0.867234
passing                        0.711521
mentality_composure            0.705252
dribbling                      0.641097
potential                      0.636366
release_clause_eur             0.626277
wage_eur                       0.592452
value_eur                      0.558493
power_shot_power               0.558372
physic                         0.530386
mentality_vision               0.509087
attacking_short_passing        0.502191
goalkeeping_speed              0.497350
shooting                       0.488315
skill_long_passing             0.487147
age                            0.468197
skill_ball_control             0.449372
international_reputation       0.440987
skill_curve                    0.420495
attacking_crossing             0.410530
power_long_shots               0.407525
mentality_aggression           0.401920
skill_fk_accuracy              0.385617
power_stamina                  0.381869
skill_moves                    0.381369
skill_dribbling                0.378455
attacking_volleys              0.374330
defending                      0.358524
power_strength                 0.358049
mentality_positioning          0.354239
mentality_penalties            0.328198
attacking_heading_accuracy     0.327239
attacking_finishing            0.325413
defending_marking_awareness    0.320986
mentality_interceptions        0.320162
power_jumping                  0.282440
movement_agility               0.279889
defending_standing_tackle      0.260325
defending_sliding_tackle       0.232392
weak_foot                      0.222814
movement_sprint_speed          0.215745
movement_acceleration          0.206962
pace                           0.202962
weight_kg                      0.146242
movement_balance               0.128349
club_contract_valid_until      0.123669
height_cm                      0.031579
goalkeeping_positioning        0.012274
goalkeeping_reflexes           0.004052
goalkeeping_handling           0.003454
goalkeeping_diving             0.003128
goalkeeping_kicking           -0.000512
nation_jersey_number          -0.065964
nationality_id                -0.098959
club_jersey_number            -0.188258
club_team_id                  -0.208513
league_level                  -0.216386
nation_team_id                -0.318742
sofifa_id                     -0.486575
Name: overall, dtype: float64

In [123]:
# demonstrate removing useless varaiables df_21
df_21.drop(['nation_jersey_number','nationality_id','club_jersey_number','club_team_id','league_level','nation_team_id', 'sofifa_id'], axis=1, inplace=True)
url_columns = [col for col in df_21.columns if col.endswith('_url')]
df_21.drop(columns=url_columns, axis=1, inplace=True)

In [124]:
corr_matrix2 = df_22.corr(numeric_only=True)
corr_matrix2['overall'].sort_values(ascending=False)

overall                        1.000000
movement_reactions             0.871823
passing                        0.715001
mentality_composure            0.708867
dribbling                      0.666402
potential                      0.644275
wage_eur                       0.601764
power_shot_power               0.561180
value_eur                      0.554684
release_clause_eur             0.545197
physic                         0.529234
mentality_vision               0.523025
attacking_short_passing        0.516788
goalkeeping_speed              0.499533
skill_long_passing             0.498216
shooting                       0.489623
international_reputation       0.470647
skill_ball_control             0.460411
age                            0.459451
skill_curve                    0.420423
power_long_shots               0.410010
attacking_crossing             0.401356
mentality_aggression           0.400161
power_stamina                  0.385150
skill_dribbling                0.384351
skill_fk_accuracy              0.381030
attacking_volleys              0.380942
skill_moves                    0.376226
power_strength                 0.364366
mentality_positioning          0.358562
defending                      0.346760
attacking_heading_accuracy     0.343901
mentality_penalties            0.343690
attacking_finishing            0.338746
mentality_interceptions        0.316470
defending_marking_awareness    0.312093
power_jumping                  0.284689
movement_agility               0.270279
defending_standing_tackle      0.259773
defending_sliding_tackle       0.233589
weak_foot                      0.223762
movement_sprint_speed          0.205736
movement_acceleration          0.194044
club_contract_valid_until      0.184987
pace                           0.174695
weight_kg                      0.150324
movement_balance               0.123700
height_cm                      0.042787
goalkeeping_positioning       -0.002485
goalkeeping_reflexes          -0.007960
goalkeeping_diving            -0.010990
goalkeeping_handling          -0.011080
goalkeeping_kicking           -0.012986
nation_jersey_number          -0.116020
nationality_id                -0.168315
league_level                  -0.179032
club_jersey_number            -0.186166
nation_team_id                -0.214303
club_team_id                  -0.226640
sofifa_id                     -0.491523
Name: overall, dtype: float64

In [125]:
# demonstrate removing useless varaiables df_22
df_22.drop(['nation_jersey_number','nationality_id','league_level','club_jersey_number','nation_team_id','club_team_id', 'sofifa_id'], axis=1, inplace=True)
url_columns = [col for col in df_22.columns if col.endswith('_url')]
df_22.drop(columns=url_columns, axis=1, inplace=True)

In [126]:
# Exploratory data analysis (EDA) df_21
# df_21.hist(bins=50, figsize=(20,15))
# plt.show()

In [127]:
# Exploratory data analysis (EDA) df_22
# df_22.hist(bins=50, figsize=(20,15))
# plt.show()

In [128]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 97 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   short_name                   18944 non-null  object
 1   long_name                    18944 non-null  object
 2   player_positions             18944 non-null  object
 3   overall                      18944 non-null  int64
 4   potential                    18944 non-null  int64
 5   value_eur                    18707 non-null  float64
 6   wage_eur                     18719 non-null  float64
 7   age                          18944 non-null  int64
 8   dob                          18944 non-null  object
 9   height_cm                    18944 non-null  int64
 10  weight_kg                    18944 non-null  int64
 11  club_name                    18719 non-null  object
 12  league_name                  18719 non-null  object
 13  club_position                18719 non-null  object
 14  club_loaned_from             758 non-null    object
 15  club_joined                  17961 non-null  object
 16  club_contract_valid_until    18719 non-null  float64
 17  nationality_name             18944 non-null  object
 18  nation_position              1127 non-null   object
 19  preferred_foot               18944 non-null  object
 20  weak_foot                    18944 non-null  int64
 21  skill_moves                  18944 non-null  int64
 22  international_reputation     18944 non-null  int64
 23  work_rate                    18944 non-null  object
 24  body_type                    18944 non-null  object
 25  real_face                    18944 non-null  object
 26  release_clause_eur           17949 non-null  float64
 27  player_tags                  1408 non-null   object
 28  player_traits                8315 non-null   object
 29  pace                         16861 non-null  float64
 30  shooting                     16861 non-null  float64
 31  passing                      16861 non-null  float64
 32  dribbling                    16861 non-null  float64
 33  defending                    16861 non-null  float64
 34  physic                       16861 non-null  float64
 35  attacking_crossing           18944 non-null  int64
 36  attacking_finishing          18944 non-null  int64
 37  attacking_heading_accuracy   18944 non-null  int64
 38  attacking_short_passing      18944 non-null  int64
 39  attacking_volleys            18944 non-null  int64
 40  skill_dribbling              18944 non-null  int64
 41  skill_curve                  18944 non-null  int64
 42  skill_fk_accuracy            18944 non-null  int64
 43  skill_long_passing           18944 non-null  int64
 44  skill_ball_control           18944 non-null  int64
 45  movement_acceleration        18944 non-null  int64
 46  movement_sprint_speed        18944 non-null  int64
 47  movement_agility             18944 non-null  int64
 48  movement_reactions           18944 non-null  int64
 49  movement_balance             18944 non-null  int64
 50  power_shot_power             18944 non-null  int64
 51  power_jumping                18944 non-null  int64
 52  power_stamina                18944 non-null  int64
 53  power_strength               18944 non-null  int64
 54  power_long_shots             18944 non-null  int64
 55  mentality_aggression         18944 non-null  int64
 56  mentality_interceptions      18944 non-null  int64
 57  mentality_positioning        18944 non-null  int64
 58  mentality_vision             18944 non-null  int64
 59  mentality_penalties          18944 non-null  int64
 60  mentality_composure          18944 non-null  int64
 61  defending_marking_awareness  18944 non-null  int64
 62  defending_standing_tackle    18944 non-null  int64
 63  defending_sliding_tackle     18944 non-null  int64
 64  goalkeeping_diving           18944 non-null  int64
 65  goalkeeping_handling         18944 non-null  int64
 66  goalkeeping_kicking          18944 non-null  int64
 67  goalkeeping_positioning      18944 non-null  int64
 68  goalkeeping_reflexes         18944 non-null  int64
 69  goalkeeping_speed            2083 non-null   float64
 70  ls                           18944 non-null  object
 71  st                           18944 non-null  object
 72  rs                           18944 non-null  object
 73  lw                           18944 non-null  object
 74  lf                           18944 non-null  object
 75  cf                           18944 non-null  object
 76  rf                           18944 non-null  object
 77  rw                           18944 non-null  object
 78  lam                          18944 non-null  object
 79  cam                          18944 non-null  object
 80  ram                          18944 non-null  object
 81  lm                           18944 non-null  object
 82  lcm                          18944 non-null  object
 83  cm                           18944 non-null  object
 84  rcm                          18944 non-null  object
 85  rm                           18944 non-null  object
 86  lwb                          18944 non-null  object
 87  ldm                          18944 non-null  object
 88  cdm                          18944 non-null  object
 89  rdm                          18944 non-null  object
 90  rwb                          18944 non-null  object
 91  lb                           18944 non-null  object
 92  lcb                          18944 non-null  object
 93  cb                           18944 non-null  object
 94  rcb                          18944 non-null  object
 95  rb                           18944 non-null  object
 96  gk                           18944 non-null  object
dtypes: float64(11), int64(42), object(44)
memory usage: 14.0+ MB

In [129]:
# Further removal of useless variables df_21
df_21.drop(['club_name','league_name','club_position','club_loaned_from','club_joined','club_contract_valid_until','nation_position','player_tags','player_traits','real_face','player_positions', 'goalkeeping_speed', 'dob'], axis=1, inplace=True)

In [130]:
# Further removal of useless variables df_22
df_22.drop(['club_name','league_name','club_position','club_loaned_from','club_joined','club_contract_valid_until','nation_position','player_tags','player_traits','real_face','player_positions', 'goalkeeping_speed', 'dob'], axis=1, inplace=True)

In [131]:
df_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   short_name                   19239 non-null  object
 1   long_name                    19239 non-null  object
 2   overall                      19239 non-null  int64
 3   potential                    19239 non-null  int64
 4   value_eur                    19165 non-null  float64
 5   wage_eur                     19178 non-null  float64
 6   age                          19239 non-null  int64
 7   height_cm                    19239 non-null  int64
 8   weight_kg                    19239 non-null  int64
 9   nationality_name             19239 non-null  object
 10  preferred_foot               19239 non-null  object
 11  weak_foot                    19239 non-null  int64
 12  skill_moves                  19239 non-null  int64
 13  international_reputation     19239 non-null  int64
 14  work_rate                    19239 non-null  object
 15  body_type                    19239 non-null  object
 16  release_clause_eur           18063 non-null  float64
 17  pace                         17107 non-null  float64
 18  shooting                     17107 non-null  float64
 19  passing                      17107 non-null  float64
 20  dribbling                    17107 non-null  float64
 21  defending                    17107 non-null  float64
 22  physic                       17107 non-null  float64
 23  attacking_crossing           19239 non-null  int64
 24  attacking_finishing          19239 non-null  int64
 25  attacking_heading_accuracy   19239 non-null  int64
 26  attacking_short_passing      19239 non-null  int64
 27  attacking_volleys            19239 non-null  int64
 28  skill_dribbling              19239 non-null  int64
 29  skill_curve                  19239 non-null  int64
 30  skill_fk_accuracy            19239 non-null  int64
 31  skill_long_passing           19239 non-null  int64
 32  skill_ball_control           19239 non-null  int64
 33  movement_acceleration        19239 non-null  int64
 34  movement_sprint_speed        19239 non-null  int64
 35  movement_agility             19239 non-null  int64
 36  movement_reactions           19239 non-null  int64
 37  movement_balance             19239 non-null  int64
 38  power_shot_power             19239 non-null  int64
 39  power_jumping                19239 non-null  int64
 40  power_stamina                19239 non-null  int64
 41  power_strength               19239 non-null  int64
 42  power_long_shots             19239 non-null  int64
 43  mentality_aggression         19239 non-null  int64
 44  mentality_interceptions      19239 non-null  int64
 45  mentality_positioning        19239 non-null  int64
 46  mentality_vision             19239 non-null  int64
 47  mentality_penalties          19239 non-null  int64
 48  mentality_composure          19239 non-null  int64
 49  defending_marking_awareness  19239 non-null  int64
 50  defending_standing_tackle    19239 non-null  int64
 51  defending_sliding_tackle     19239 non-null  int64
 52  goalkeeping_diving           19239 non-null  int64
 53  goalkeeping_handling         19239 non-null  int64
 54  goalkeeping_kicking          19239 non-null  int64
 55  goalkeeping_positioning      19239 non-null  int64
 56  goalkeeping_reflexes         19239 non-null  int64
 57  ls                           19239 non-null  object
 58  st                           19239 non-null  object
 59  rs                           19239 non-null  object
 60  lw                           19239 non-null  object
 61  lf                           19239 non-null  object
 62  cf                           19239 non-null  object
 63  rf                           19239 non-null  object
 64  rw                           19239 non-null  object
 65  lam                          19239 non-null  object
 66  cam                          19239 non-null  object
 67  ram                          19239 non-null  object
 68  lm                           19239 non-null  object
 69  lcm                          19239 non-null  object
 70  cm                           19239 non-null  object
 71  rcm                          19239 non-null  object
 72  rm                           19239 non-null  object
 73  lwb                          19239 non-null  object
 74  ldm                          19239 non-null  object
 75  cdm                          19239 non-null  object
 76  rdm                          19239 non-null  object
 77  rwb                          19239 non-null  object
 78  lb                           19239 non-null  object
 79  lcb                          19239 non-null  object
 80  cb                           19239 non-null  object
 81  rcb                          19239 non-null  object
 82  rb                           19239 non-null  object
 83  gk                           19239 non-null  object
dtypes: float64(9), int64(42), object(33)
memory usage: 12.3+ MB

In [132]:
dropped_cols = df_21.select_dtypes(include=['object'])


df_21.drop(df_21.select_dtypes(include=['object']), axis=1, inplace=True)
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   overall                      18944 non-null  int64
 1   potential                    18944 non-null  int64
 2   value_eur                    18707 non-null  float64
 3   wage_eur                     18719 non-null  float64
 4   age                          18944 non-null  int64
 5   height_cm                    18944 non-null  int64
 6   weight_kg                    18944 non-null  int64
 7   weak_foot                    18944 non-null  int64
 8   skill_moves                  18944 non-null  int64
 9   international_reputation     18944 non-null  int64
 10  release_clause_eur           17949 non-null  float64
 11  pace                         16861 non-null  float64
 12  shooting                     16861 non-null  float64
 13  passing                      16861 non-null  float64
 14  dribbling                    16861 non-null  float64
 15  defending                    16861 non-null  float64
 16  physic                       16861 non-null  float64
 17  attacking_crossing           18944 non-null  int64
 18  attacking_finishing          18944 non-null  int64
 19  attacking_heading_accuracy   18944 non-null  int64
 20  attacking_short_passing      18944 non-null  int64
 21  attacking_volleys            18944 non-null  int64
 22  skill_dribbling              18944 non-null  int64
 23  skill_curve                  18944 non-null  int64
 24  skill_fk_accuracy            18944 non-null  int64
 25  skill_long_passing           18944 non-null  int64
 26  skill_ball_control           18944 non-null  int64
 27  movement_acceleration        18944 non-null  int64
 28  movement_sprint_speed        18944 non-null  int64
 29  movement_agility             18944 non-null  int64
 30  movement_reactions           18944 non-null  int64
 31  movement_balance             18944 non-null  int64
 32  power_shot_power             18944 non-null  int64
 33  power_jumping                18944 non-null  int64
 34  power_stamina                18944 non-null  int64
 35  power_strength               18944 non-null  int64
 36  power_long_shots             18944 non-null  int64
 37  mentality_aggression         18944 non-null  int64
 38  mentality_interceptions      18944 non-null  int64
 39  mentality_positioning        18944 non-null  int64
 40  mentality_vision             18944 non-null  int64
 41  mentality_penalties          18944 non-null  int64
 42  mentality_composure          18944 non-null  int64
 43  defending_marking_awareness  18944 non-null  int64
 44  defending_standing_tackle    18944 non-null  int64
 45  defending_sliding_tackle     18944 non-null  int64
 46  goalkeeping_diving           18944 non-null  int64
 47  goalkeeping_handling         18944 non-null  int64
 48  goalkeeping_kicking          18944 non-null  int64
 49  goalkeeping_positioning      18944 non-null  int64
 50  goalkeeping_reflexes         18944 non-null  int64
dtypes: float64(9), int64(42)
memory usage: 7.4 MB

In [133]:
dropped_cols2 = df_22.select_dtypes(include=['object'])


df_22.drop(df_22.select_dtypes(include=['object']), axis=1, inplace=True)
df_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Data columns (total 51 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   overall                      19239 non-null  int64
 1   potential                    19239 non-null  int64
 2   value_eur                    19165 non-null  float64
 3   wage_eur                     19178 non-null  float64
 4   age                          19239 non-null  int64
 5   height_cm                    19239 non-null  int64
 6   weight_kg                    19239 non-null  int64
 7   weak_foot                    19239 non-null  int64
 8   skill_moves                  19239 non-null  int64
 9   international_reputation     19239 non-null  int64
 10  release_clause_eur           18063 non-null  float64
 11  pace                         17107 non-null  float64
 12  shooting                     17107 non-null  float64
 13  passing                      17107 non-null  float64
 14  dribbling                    17107 non-null  float64
 15  defending                    17107 non-null  float64
 16  physic                       17107 non-null  float64
 17  attacking_crossing           19239 non-null  int64
 18  attacking_finishing          19239 non-null  int64
 19  attacking_heading_accuracy   19239 non-null  int64
 20  attacking_short_passing      19239 non-null  int64
 21  attacking_volleys            19239 non-null  int64
 22  skill_dribbling              19239 non-null  int64
 23  skill_curve                  19239 non-null  int64
 24  skill_fk_accuracy            19239 non-null  int64
 25  skill_long_passing           19239 non-null  int64
 26  skill_ball_control           19239 non-null  int64
 27  movement_acceleration        19239 non-null  int64
 28  movement_sprint_speed        19239 non-null  int64
 29  movement_agility             19239 non-null  int64
 30  movement_reactions           19239 non-null  int64
 31  movement_balance             19239 non-null  int64
 32  power_shot_power             19239 non-null  int64
 33  power_jumping                19239 non-null  int64
 34  power_stamina                19239 non-null  int64
 35  power_strength               19239 non-null  int64
 36  power_long_shots             19239 non-null  int64
 37  mentality_aggression         19239 non-null  int64
 38  mentality_interceptions      19239 non-null  int64
 39  mentality_positioning        19239 non-null  int64
 40  mentality_vision             19239 non-null  int64
 41  mentality_penalties          19239 non-null  int64
 42  mentality_composure          19239 non-null  int64
 43  defending_marking_awareness  19239 non-null  int64
 44  defending_standing_tackle    19239 non-null  int64
 45  defending_sliding_tackle     19239 non-null  int64
 46  goalkeeping_diving           19239 non-null  int64
 47  goalkeeping_handling         19239 non-null  int64
 48  goalkeeping_kicking          19239 non-null  int64
 49  goalkeeping_positioning      19239 non-null  int64
 50  goalkeeping_reflexes         19239 non-null  int64
dtypes: float64(9), int64(42)
memory usage: 7.5 MB

In [134]:
# Imputation for df_21
from sklearn.impute import SimpleImputer
imp = SimpleImputer(strategy='mean')
imputed_data = imp.fit_transform(df_21)
df_21 = pd.DataFrame(imputed_data, columns=df_21.columns)
df_21

,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,weak_foot,skill_moves,international_reputation,...,mentality_penalties,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,93.0,93.0,103500000.0,560000.0,33.0,170.0,72.0,4.0,4.0,5.0,...,75.0,96.0,32.0,35.0,24.0,6.0,11.0,15.0,14.0,8.0
1,92.0,92.0,63000000.0,220000.0,35.0,187.0,83.0,4.0,5.0,5.0,...,84.0,95.0,28.0,32.0,24.0,7.0,11.0,15.0,14.0,11.0
2,91.0,91.0,111000000.0,240000.0,31.0,184.0,80.0,4.0,4.0,4.0,...,88.0,88.0,35.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0
3,91.0,91.0,132000000.0,270000.0,28.0,175.0,68.0,5.0,5.0,5.0,...,92.0,93.0,35.0,30.0,29.0,9.0,9.0,15.0,15.0,11.0
4,91.0,91.0,129000000.0,370000.0,29.0,181.0,70.0,5.0,4.0,4.0,...,84.0,91.0,68.0,65.0,53.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,47.0,52.0,70000.0,1000.0,21.0,177.0,70.0,2.0,2.0,1.0,...,35.0,40.0,45.0,56.0,47.0,12.0,13.0,8.0,14.0,6.0
18940,47.0,53.0,70000.0,1000.0,21.0,174.0,68.0,2.0,2.0,1.0,...,35.0,35.0,43.0,42.0,53.0,8.0,8.0,13.0,14.0,10.0
18941,47.0,47.0,45000.0,2000.0,28.0,185.0,79.0,2.0,2.0,1.0,...,36.0,35.0,38.0,43.0,45.0,8.0,5.0,11.0,5.0,7.0
18942,47.0,67.0,130000.0,500.0,17.0,171.0,58.0,2.0,2.0,1.0,...,50.0,45.0,18.0,11.0,13.0,11.0,13.0,9.0,9.0,6.0
18943,47.0,67.0,130000.0,500.0,17.0,175.0,65.0,2.0,2.0,1.0,...,36.0,38.0,32.0,44.0,40.0,12.0,10.0,9.0,6.0,8.0

In [135]:
df_21 = pd.concat([dropped_cols,df_21], axis=1)
df_21

,short_name,long_name,nationality_name,preferred_foot,work_rate,body_type,ls,st,rs,lw,...,mentality_penalties,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,L. Messi,Lionel AndrÃ©s Messi Cuccittini,Argentina,Left,Medium/Low,Unique,89+3,89+3,89+3,92,...,75.0,96.0,32.0,35.0,24.0,6.0,11.0,15.0,14.0,8.0
1,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,Portugal,Right,High/Low,Unique,91+1,91+1,91+1,89,...,84.0,95.0,28.0,32.0,24.0,7.0,11.0,15.0,14.0,11.0
2,R. Lewandowski,Robert Lewandowski,Poland,Right,High/Medium,Unique,89+2,89+2,89+2,85,...,88.0,88.0,35.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0
3,Neymar Jr,Neymar da Silva Santos JÃºnior,Brazil,Right,High/Medium,Unique,84+3,84+3,84+3,90,...,92.0,93.0,35.0,30.0,29.0,9.0,9.0,15.0,15.0,11.0
4,K. De Bruyne,Kevin De Bruyne,Belgium,Right,High/High,Unique,83+3,83+3,83+3,88,...,84.0,91.0,68.0,65.0,53.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,Zhang Mengxuan,å¼ æ¢¦ç‚«,China PR,Right,Low/Low,Normal (170-185),32+2,32+2,32+2,30,...,35.0,40.0,45.0,56.0,47.0,12.0,13.0,8.0,14.0,6.0
18940,Huang Wenzhou,é»„æ–‡å“,China PR,Right,Low/Low,Lean (170-185),41+2,41+2,41+2,45,...,35.0,35.0,43.0,42.0,53.0,8.0,8.0,13.0,14.0,10.0
18941,Song Yue,å®‹å²³,China PR,Right,Low/Low,Lean (185+),46+1,46+1,46+1,47,...,36.0,35.0,38.0,43.0,45.0,8.0,5.0,11.0,5.0,7.0
18942,V. Da Silva,Ivanilson Loforte Tique Da Silva,England,Right,Medium/Medium,Lean (170-185),47+2,47+2,47+2,49,...,50.0,45.0,18.0,11.0,13.0,11.0,13.0,9.0,9.0,6.0
18943,B. Hough,Ben Hough,England,Right,Medium/Medium,Normal (170-185),47+2,47+2,47+2,49,...,36.0,38.0,32.0,44.0,40.0,12.0,10.0,9.0,6.0,8.0

In [136]:
# Imputation for df_22
from sklearn.impute import SimpleImputer
imp2 = SimpleImputer(strategy='mean')
imputed_data2 = imp2.fit_transform(df_22)
df_22 = pd.DataFrame(imputed_data2, columns=df_22.columns)
df_22

,overall,potential,value_eur,wage_eur,age,height_cm,weight_kg,weak_foot,skill_moves,international_reputation,...,mentality_penalties,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,93.0,93.0,78000000.0,320000.0,34.0,170.0,72.0,4.0,4.0,5.0,...,75.0,96.0,20.0,35.0,24.0,6.0,11.0,15.0,14.0,8.0
1,92.0,92.0,119500000.0,270000.0,32.0,185.0,81.0,4.0,4.0,5.0,...,90.0,88.0,35.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0
2,91.0,91.0,45000000.0,270000.0,36.0,187.0,83.0,4.0,5.0,5.0,...,88.0,95.0,24.0,32.0,24.0,7.0,11.0,15.0,14.0,11.0
3,91.0,91.0,129000000.0,270000.0,29.0,175.0,68.0,5.0,5.0,5.0,...,93.0,93.0,35.0,32.0,29.0,9.0,9.0,15.0,15.0,11.0
4,91.0,91.0,125500000.0,350000.0,30.0,181.0,70.0,5.0,4.0,4.0,...,83.0,89.0,68.0,65.0,53.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,47.0,52.0,70000.0,1000.0,22.0,180.0,64.0,3.0,2.0,1.0,...,42.0,37.0,38.0,43.0,48.0,6.0,10.0,5.0,15.0,13.0
19235,47.0,59.0,110000.0,500.0,19.0,175.0,70.0,3.0,2.0,1.0,...,44.0,47.0,37.0,44.0,47.0,11.0,12.0,6.0,8.0,10.0
19236,47.0,55.0,100000.0,500.0,21.0,178.0,72.0,3.0,2.0,1.0,...,39.0,36.0,38.0,44.0,48.0,8.0,6.0,7.0,10.0,6.0
19237,47.0,60.0,110000.0,500.0,19.0,173.0,66.0,3.0,2.0,1.0,...,49.0,47.0,10.0,14.0,11.0,7.0,10.0,7.0,14.0,15.0
19238,47.0,60.0,110000.0,500.0,19.0,167.0,61.0,3.0,2.0,1.0,...,35.0,36.0,33.0,31.0,37.0,8.0,13.0,13.0,9.0,14.0

In [137]:
df_22 = pd.concat([dropped_cols2, df_22], axis=1)
df_22

,short_name,long_name,nationality_name,preferred_foot,work_rate,body_type,ls,st,rs,lw,...,mentality_penalties,mentality_composure,defending_marking_awareness,defending_standing_tackle,defending_sliding_tackle,goalkeeping_diving,goalkeeping_handling,goalkeeping_kicking,goalkeeping_positioning,goalkeeping_reflexes
0,L. Messi,Lionel AndrÃ©s Messi Cuccittini,Argentina,Left,Medium/Low,Unique,89+3,89+3,89+3,92,...,75.0,96.0,20.0,35.0,24.0,6.0,11.0,15.0,14.0,8.0
1,R. Lewandowski,Robert Lewandowski,Poland,Right,High/Medium,Unique,90+2,90+2,90+2,85,...,90.0,88.0,35.0,42.0,19.0,15.0,6.0,12.0,8.0,10.0
2,Cristiano Ronaldo,Cristiano Ronaldo dos Santos Aveiro,Portugal,Right,High/Low,Unique,90+1,90+1,90+1,88,...,88.0,95.0,24.0,32.0,24.0,7.0,11.0,15.0,14.0,11.0
3,Neymar Jr,Neymar da Silva Santos JÃºnior,Brazil,Right,High/Medium,Unique,83+3,83+3,83+3,90,...,93.0,93.0,35.0,32.0,29.0,9.0,9.0,15.0,15.0,11.0
4,K. De Bruyne,Kevin De Bruyne,Belgium,Right,High/High,Unique,83+3,83+3,83+3,88,...,83.0,89.0,68.0,65.0,53.0,15.0,13.0,5.0,10.0,13.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,Song Defu,å®‹å¾·ç¦,China PR,Right,Medium/Medium,Lean (170-185),44+2,44+2,44+2,46,...,42.0,37.0,38.0,43.0,48.0,6.0,10.0,5.0,15.0,13.0
19235,C. Porter,Caoimhin Porter,Republic of Ireland,Right,Medium/Medium,Lean (170-185),45+2,45+2,45+2,47,...,44.0,47.0,37.0,44.0,47.0,11.0,12.0,6.0,8.0,10.0
19236,N. Logue,Nathan Logue-Cunningham,Republic of Ireland,Right,Medium/Medium,Lean (170-185),45+2,45+2,45+2,46,...,39.0,36.0,38.0,44.0,48.0,8.0,6.0,7.0,10.0,6.0
19237,L. Rudden,Luke Rudden,Republic of Ireland,Right,Medium/Medium,Lean (170-185),47+2,47+2,47+2,47,...,49.0,47.0,10.0,14.0,11.0,7.0,10.0,7.0,14.0,15.0
19238,E. Lalchhanchhuaha,Emanuel Lalchhanchhuaha,India,Right,Medium/Medium,Lean (170-),45+2,45+2,45+2,47,...,35.0,36.0,33.0,31.0,37.0,8.0,13.0,13.0,9.0,14.0

In [138]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   short_name                   18944 non-null  object
 1   long_name                    18944 non-null  object
 2   nationality_name             18944 non-null  object
 3   preferred_foot               18944 non-null  object
 4   work_rate                    18944 non-null  object
 5   body_type                    18944 non-null  object
 6   ls                           18944 non-null  object
 7   st                           18944 non-null  object
 8   rs                           18944 non-null  object
 9   lw                           18944 non-null  object
 10  lf                           18944 non-null  object
 11  cf                           18944 non-null  object
 12  rf                           18944 non-null  object
 13  rw                           18944 non-null  object
 14  lam                          18944 non-null  object
 15  cam                          18944 non-null  object
 16  ram                          18944 non-null  object
 17  lm                           18944 non-null  object
 18  lcm                          18944 non-null  object
 19  cm                           18944 non-null  object
 20  rcm                          18944 non-null  object
 21  rm                           18944 non-null  object
 22  lwb                          18944 non-null  object
 23  ldm                          18944 non-null  object
 24  cdm                          18944 non-null  object
 25  rdm                          18944 non-null  object
 26  rwb                          18944 non-null  object
 27  lb                           18944 non-null  object
 28  lcb                          18944 non-null  object
 29  cb                           18944 non-null  object
 30  rcb                          18944 non-null  object
 31  rb                           18944 non-null  object
 32  gk                           18944 non-null  object
 33  overall                      18944 non-null  float64
 34  potential                    18944 non-null  float64
 35  value_eur                    18944 non-null  float64
 36  wage_eur                     18944 non-null  float64
 37  age                          18944 non-null  float64
 38  height_cm                    18944 non-null  float64
 39  weight_kg                    18944 non-null  float64
 40  weak_foot                    18944 non-null  float64
 41  skill_moves                  18944 non-null  float64
 42  international_reputation     18944 non-null  float64
 43  release_clause_eur           18944 non-null  float64
 44  pace                         18944 non-null  float64
 45  shooting                     18944 non-null  float64
 46  passing                      18944 non-null  float64
 47  dribbling                    18944 non-null  float64
 48  defending                    18944 non-null  float64
 49  physic                       18944 non-null  float64
 50  attacking_crossing           18944 non-null  float64
 51  attacking_finishing          18944 non-null  float64
 52  attacking_heading_accuracy   18944 non-null  float64
 53  attacking_short_passing      18944 non-null  float64
 54  attacking_volleys            18944 non-null  float64
 55  skill_dribbling              18944 non-null  float64
 56  skill_curve                  18944 non-null  float64
 57  skill_fk_accuracy            18944 non-null  float64
 58  skill_long_passing           18944 non-null  float64
 59  skill_ball_control           18944 non-null  float64
 60  movement_acceleration        18944 non-null  float64
 61  movement_sprint_speed        18944 non-null  float64
 62  movement_agility             18944 non-null  float64
 63  movement_reactions           18944 non-null  float64
 64  movement_balance             18944 non-null  float64
 65  power_shot_power             18944 non-null  float64
 66  power_jumping                18944 non-null  float64
 67  power_stamina                18944 non-null  float64
 68  power_strength               18944 non-null  float64
 69  power_long_shots             18944 non-null  float64
 70  mentality_aggression         18944 non-null  float64
 71  mentality_interceptions      18944 non-null  float64
 72  mentality_positioning        18944 non-null  float64
 73  mentality_vision             18944 non-null  float64
 74  mentality_penalties          18944 non-null  float64
 75  mentality_composure          18944 non-null  float64
 76  defending_marking_awareness  18944 non-null  float64
 77  defending_standing_tackle    18944 non-null  float64
 78  defending_sliding_tackle     18944 non-null  float64
 79  goalkeeping_diving           18944 non-null  float64
 80  goalkeeping_handling         18944 non-null  float64
 81  goalkeeping_kicking          18944 non-null  float64
 82  goalkeeping_positioning      18944 non-null  float64
 83  goalkeeping_reflexes         18944 non-null  float64
dtypes: float64(51), object(33)
memory usage: 12.1+ MB

In [139]:
# To-Do
# One-hot encoding ['nationality_name','preferred_foot','work_rate','body_type']
# then solve the position ratings with stuff like "89+3"

In [140]:
# for df_21
weird_cols = df_21.select_dtypes(include=['object']).drop(['short_name','long_name','nationality_name','preferred_foot','work_rate','body_type'], axis=1)

for col in weird_cols.columns:
    weird_cols[col] = weird_cols[col].astype(str)

weird_cols

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,89+3,89+3,89+3,92,93,93,93,92,93,93,...,65+3,65+3,65+3,66+3,62+3,52+3,52+3,52+3,62+3,19+3
1,91+1,91+1,91+1,89,91,91,91,89,88+3,88+3,...,61+3,61+3,61+3,65+3,61+3,54+3,54+3,54+3,61+3,20+3
2,89+2,89+2,89+2,85,87,87,87,85,85+3,85+3,...,65+3,65+3,65+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
3,84+3,84+3,84+3,90,89,89,89,90,90+1,90+1,...,62+3,62+3,62+3,67+3,62+3,49+3,49+3,49+3,62+3,20+3
4,83+3,83+3,83+3,88,88,88,88,88,89+2,89+2,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,32+2,32+2,32+2,30,30,30,30,30,29+2,29+2,...,41+2,41+2,41+2,42+2,45+2,47+2,47+2,47+2,45+2,15+2
18940,41+2,41+2,41+2,45,44,44,44,45,46+2,46+2,...,48+2,48+2,48+2,47+2,47+2,46+2,46+2,46+2,47+2,15+2
18941,46+1,46+1,46+1,47,46,46,46,47,47,47,...,47,47,47,47,47,46+1,46+1,46+1,47,11+2
18942,47+2,47+2,47+2,49,49,49,49,49,49+2,49+2,...,32+2,32+2,32+2,35+2,33+2,26+2,26+2,26+2,33+2,14+2
18943,47+2,47+2,47+2,49,49,49,49,49,49+2,49+2,...,43+2,43+2,43+2,44+2,43+2,41+2,41+2,41+2,43+2,14+2

In [141]:
# for df_22
weird_cols2 = df_22.select_dtypes(include=['object']).drop(['short_name','long_name','nationality_name','preferred_foot','work_rate','body_type'], axis=1)

for col in weird_cols2.columns:
    weird_cols2[col] = weird_cols2[col].astype(str)

weird_cols2

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,89+3,89+3,89+3,92,93,93,93,92,93,93,...,64+3,64+3,64+3,66+3,61+3,50+3,50+3,50+3,61+3,19+3
1,90+2,90+2,90+2,85,88,88,88,85,86+3,86+3,...,66+3,66+3,66+3,64+3,61+3,60+3,60+3,60+3,61+3,19+3
2,90+1,90+1,90+1,88,89,89,89,88,86+3,86+3,...,59+3,59+3,59+3,63+3,60+3,53+3,53+3,53+3,60+3,20+3
3,83+3,83+3,83+3,90,88,88,88,90,89+2,89+2,...,63+3,63+3,63+3,67+3,62+3,50+3,50+3,50+3,62+3,20+3
4,83+3,83+3,83+3,88,87,87,87,88,89+2,89+2,...,80+3,80+3,80+3,79+3,75+3,69+3,69+3,69+3,75+3,21+3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,44+2,44+2,44+2,46,45,45,45,46,46+2,46+2,...,46+2,46+2,46+2,48+2,48+2,46+2,46+2,46+2,48+2,15+2
19235,45+2,45+2,45+2,47,46,46,46,47,47+2,47+2,...,46+2,46+2,46+2,49+2,48+2,44+2,44+2,44+2,48+2,14+2
19236,45+2,45+2,45+2,46,46,46,46,46,47+2,47+2,...,46+2,46+2,46+2,47+2,47+2,45+2,45+2,45+2,47+2,12+2
19237,47+2,47+2,47+2,47,47,47,47,47,45+2,45+2,...,29+2,29+2,29+2,33+2,32+2,26+2,26+2,26+2,32+2,15+2
19238,45+2,45+2,45+2,47,47,47,47,47,47+2,47+2,...,44+2,44+2,44+2,45+2,45+2,41+2,41+2,41+2,45+2,16+2

In [142]:
# df_21
def calculate_result(value):
    parts = value.replace('-', '+').split('+')
    num1 = int(parts[0])
    num2 = int(parts[1]) if len(parts) > 1 else 0
    return num1 + num2

for col in weird_cols.columns:
    weird_cols[col] = weird_cols[col].apply(calculate_result)
    
weird_cols_true = weird_cols.copy()
weird_cols_true

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,92,92,92,92,93,93,93,92,93,93,...,68,68,68,69,65,55,55,55,65,22
1,92,92,92,89,91,91,91,89,91,91,...,64,64,64,68,64,57,57,57,64,23
2,91,91,91,85,87,87,87,85,88,88,...,68,68,68,67,64,63,63,63,64,22
3,87,87,87,90,89,89,89,90,91,91,...,65,65,65,70,65,52,52,52,65,23
4,86,86,86,88,88,88,88,88,91,91,...,83,83,83,82,78,72,72,72,78,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18939,34,34,34,30,30,30,30,30,31,31,...,43,43,43,44,47,49,49,49,47,17
18940,43,43,43,45,44,44,44,45,48,48,...,50,50,50,49,49,48,48,48,49,17
18941,47,47,47,47,46,46,46,47,47,47,...,47,47,47,47,47,47,47,47,47,13
18942,49,49,49,49,49,49,49,49,51,51,...,34,34,34,37,35,28,28,28,35,16
18943,49,49,49,49,49,49,49,49,51,51,...,45,45,45,46,45,43,43,43,45,16

In [143]:
# df_22
for col in weird_cols2.columns:
    weird_cols2[col] = weird_cols2[col].apply(calculate_result)
    
weird_cols_true2 = weird_cols2.copy()
weird_cols_true2

,ls,st,rs,lw,lf,cf,rf,rw,lam,cam,...,ldm,cdm,rdm,rwb,lb,lcb,cb,rcb,rb,gk
0,92,92,92,92,93,93,93,92,93,93,...,67,67,67,69,64,53,53,53,64,22
1,92,92,92,85,88,88,88,85,89,89,...,69,69,69,67,64,63,63,63,64,22
2,91,91,91,88,89,89,89,88,89,89,...,62,62,62,66,63,56,56,56,63,23
3,86,86,86,90,88,88,88,90,91,91,...,66,66,66,70,65,53,53,53,65,23
4,86,86,86,88,87,87,87,88,91,91,...,83,83,83,82,78,72,72,72,78,24
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19234,46,46,46,46,45,45,45,46,48,48,...,48,48,48,50,50,48,48,48,50,17
19235,47,47,47,47,46,46,46,47,49,49,...,48,48,48,51,50,46,46,46,50,16
19236,47,47,47,46,46,46,46,46,49,49,...,48,48,48,49,49,47,47,47,49,14
19237,49,49,49,47,47,47,47,47,47,47,...,31,31,31,35,34,28,28,28,34,17
19238,47,47,47,47,47,47,47,47,49,49,...,46,46,46,47,47,43,43,43,47,18

In [144]:
# df_21
# correcting values like "89+3"
df_21.drop(df_21.select_dtypes(include=['object']).drop(['short_name','long_name', 'nationality_name','preferred_foot','work_rate','body_type'], axis=1), axis=1, inplace=True)
begin_cols = df_21[df_21.columns[:8].tolist()]
df_21.drop(begin_cols, axis=1, inplace=True)
df_21 = pd.concat([weird_cols_true, df_21], axis=1)
df_21 = pd.concat([begin_cols, df_21], axis=1)

In [145]:
# df_22
# correcting values like "89+3"
df_22.drop(df_22.select_dtypes(include=['object']).drop(['short_name','long_name','nationality_name','preferred_foot','work_rate','body_type'], axis=1), axis=1, inplace=True)
begin_cols2 = df_22[df_22.columns[:8].tolist()]
df_22.drop(begin_cols2, axis=1, inplace=True)
df_22 = pd.concat([weird_cols_true2, df_22], axis=1)
df_22 = pd.concat([begin_cols2, df_22], axis=1)

In [146]:
df_21.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18944 entries, 0 to 18943
Data columns (total 84 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   short_name                   18944 non-null  object
 1   long_name                    18944 non-null  object
 2   nationality_name             18944 non-null  object
 3   preferred_foot               18944 non-null  object
 4   work_rate                    18944 non-null  object
 5   body_type                    18944 non-null  object
 6   overall                      18944 non-null  float64
 7   potential                    18944 non-null  float64
 8   ls                           18944 non-null  int64
 9   st                           18944 non-null  int64
 10  rs                           18944 non-null  int64
 11  lw                           18944 non-null  int64
 12  lf                           18944 non-null  int64
 13  cf                           18944 non-null  int64
 14  rf                           18944 non-null  int64
 15  rw                           18944 non-null  int64
 16  lam                          18944 non-null  int64
 17  cam                          18944 non-null  int64
 18  ram                          18944 non-null  int64
 19  lm                           18944 non-null  int64
 20  lcm                          18944 non-null  int64
 21  cm                           18944 non-null  int64
 22  rcm                          18944 non-null  int64
 23  rm                           18944 non-null  int64
 24  lwb                          18944 non-null  int64
 25  ldm                          18944 non-null  int64
 26  cdm                          18944 non-null  int64
 27  rdm                          18944 non-null  int64
 28  rwb                          18944 non-null  int64
 29  lb                           18944 non-null  int64
 30  lcb                          18944 non-null  int64
 31  cb                           18944 non-null  int64
 32  rcb                          18944 non-null  int64
 33  rb                           18944 non-null  int64
 34  gk                           18944 non-null  int64
 35  value_eur                    18944 non-null  float64
 36  wage_eur                     18944 non-null  float64
 37  age                          18944 non-null  float64
 38  height_cm                    18944 non-null  float64
 39  weight_kg                    18944 non-null  float64
 40  weak_foot                    18944 non-null  float64
 41  skill_moves                  18944 non-null  float64
 42  international_reputation     18944 non-null  float64
 43  release_clause_eur           18944 non-null  float64
 44  pace                         18944 non-null  float64
 45  shooting                     18944 non-null  float64
 46  passing                      18944 non-null  float64
 47  dribbling                    18944 non-null  float64
 48  defending                    18944 non-null  float64
 49  physic                       18944 non-null  float64
 50  attacking_crossing           18944 non-null  float64
 51  attacking_finishing          18944 non-null  float64
 52  attacking_heading_accuracy   18944 non-null  float64
 53  attacking_short_passing      18944 non-null  float64
 54  attacking_volleys            18944 non-null  float64
 55  skill_dribbling              18944 non-null  float64
 56  skill_curve                  18944 non-null  float64
 57  skill_fk_accuracy            18944 non-null  float64
 58  skill_long_passing           18944 non-null  float64
 59  skill_ball_control           18944 non-null  float64
 60  movement_acceleration        18944 non-null  float64
 61  movement_sprint_speed        18944 non-null  float64
 62  movement_agility             18944 non-null  float64
 63  movement_reactions           18944 non-null  float64
 64  movement_balance             18944 non-null  float64
 65  power_shot_power             18944 non-null  float64
 66  power_jumping                18944 non-null  float64
 67  power_stamina                18944 non-null  float64
 68  power_strength               18944 non-null  float64
 69  power_long_shots             18944 non-null  float64
 70  mentality_aggression         18944 non-null  float64
 71  mentality_interceptions      18944 non-null  float64
 72  mentality_positioning        18944 non-null  float64
 73  mentality_vision             18944 non-null  float64
 74  mentality_penalties          18944 non-null  float64
 75  mentality_composure          18944 non-null  float64
 76  defending_marking_awareness  18944 non-null  float64
 77  defending_standing_tackle    18944 non-null  float64
 78  defending_sliding_tackle     18944 non-null  float64
 79  goalkeeping_diving           18944 non-null  float64
 80  goalkeeping_handling         18944 non-null  float64
 81  goalkeeping_kicking          18944 non-null  float64
 82  goalkeeping_positioning      18944 non-null  float64
 83  goalkeeping_reflexes         18944 non-null  float64
dtypes: float64(51), int64(27), object(6)
memory usage: 12.1+ MB

In [147]:
df_21['work_rate'].value_counts()

Medium/Medium    9980
High/Medium      3455
Medium/High      1798
High/High        1031
Medium/Low        913
High/Low          786
Low/Medium        482
Low/High          446
Low/Low            53
Name: work_rate, dtype: int64

In [148]:
df_21['body_type'].value_counts()

Normal (170-185)    6521
Lean (170-185)      4138
Normal (185+)       4065
Lean (185+)         1885
Normal (170-)        674
Stocky (170-185)     622
Lean (170-)          467
Stocky (185+)        350
Unique               119
Stocky (170-)        103
Name: body_type, dtype: int64

In [149]:
df_21['nationality_name'].value_counts()

England          1685
Germany          1189
Spain            1072
France            984
Argentina         936
                 ...
New Caledonia       1
Bermuda             1
Chad                1
Tanzania            1
Malaysia            1
Name: nationality_name, Length: 162, dtype: int64

In [150]:
from sklearn.preprocessing import LabelEncoder

In [151]:
# Encoding df_21
pfoot = df_21['preferred_foot']
workr = df_21['work_rate']
bodyt = df_21['body_type']

pfoot_label_encoder = LabelEncoder()
pfoot_encoded = pfoot_label_encoder.fit_transform(pfoot)
pfoot = pd.Series(pfoot_encoded, name='preferred_foot')

workr_label_encoder = LabelEncoder()
workr_encoded = workr_label_encoder.fit_transform(workr)
workr = pd.Series(workr_encoded, name='work_rate')

bodyt_label_encoder = LabelEncoder()
bodyt_encoded = bodyt_label_encoder.fit_transform(bodyt)
bodyt = pd.Series(bodyt_encoded, name='body_type')

df_21.drop(['nationality_name','preferred_foot','work_rate','body_type', 'short_name', 'long_name'], axis=1, inplace=True)

df_21 = pd.concat([df_21, pfoot, workr, bodyt], axis=1)

In [152]:
# Encoding df_22
pfoot2 = df_22['preferred_foot']
workr2 = df_22['work_rate']
bodyt2 = df_22['body_type']

pfoot_label_encoder = LabelEncoder()
pfoot_encoded = pfoot_label_encoder.fit_transform(pfoot)
pfoot = pd.Series(pfoot_encoded, name='preferred_foot')

workr_label_encoder = LabelEncoder()
workr_encoded = workr_label_encoder.fit_transform(workr)
workr = pd.Series(workr_encoded, name='work_rate')

bodyt_label_encoder = LabelEncoder()
bodyt_encoded = bodyt_label_encoder.fit_transform(bodyt)
bodyt = pd.Series(bodyt_encoded, name='body_type')

df_22.drop(['nationality_name','preferred_foot','work_rate','body_type', 'short_name', 'long_name'], axis=1, inplace=True)

df_22 = pd.concat([df_22, pfoot2, workr2, bodyt2], axis=1)

In [153]:
df_22.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19239 entries, 0 to 19238
Data columns (total 81 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   overall                      19239 non-null  float64
 1   potential                    19239 non-null  float64
 2   ls                           19239 non-null  int64
 3   st                           19239 non-null  int64
 4   rs                           19239 non-null  int64
 5   lw                           19239 non-null  int64
 6   lf                           19239 non-null  int64
 7   cf                           19239 non-null  int64
 8   rf                           19239 non-null  int64
 9   rw                           19239 non-null  int64
 10  lam                          19239 non-null  int64
 11  cam                          19239 non-null  int64
 12  ram                          19239 non-null  int64
 13  lm                           19239 non-null  int64
 14  lcm                          19239 non-null  int64
 15  cm                           19239 non-null  int64
 16  rcm                          19239 non-null  int64
 17  rm                           19239 non-null  int64
 18  lwb                          19239 non-null  int64
 19  ldm                          19239 non-null  int64
 20  cdm                          19239 non-null  int64
 21  rdm                          19239 non-null  int64
 22  rwb                          19239 non-null  int64
 23  lb                           19239 non-null  int64
 24  lcb                          19239 non-null  int64
 25  cb                           19239 non-null  int64
 26  rcb                          19239 non-null  int64
 27  rb                           19239 non-null  int64
 28  gk                           19239 non-null  int64
 29  value_eur                    19239 non-null  float64
 30  wage_eur                     19239 non-null  float64
 31  age                          19239 non-null  float64
 32  height_cm                    19239 non-null  float64
 33  weight_kg                    19239 non-null  float64
 34  weak_foot                    19239 non-null  float64
 35  skill_moves                  19239 non-null  float64
 36  international_reputation     19239 non-null  float64
 37  release_clause_eur           19239 non-null  float64
 38  pace                         19239 non-null  float64
 39  shooting                     19239 non-null  float64
 40  passing                      19239 non-null  float64
 41  dribbling                    19239 non-null  float64
 42  defending                    19239 non-null  float64
 43  physic                       19239 non-null  float64
 44  attacking_crossing           19239 non-null  float64
 45  attacking_finishing          19239 non-null  float64
 46  attacking_heading_accuracy   19239 non-null  float64
 47  attacking_short_passing      19239 non-null  float64
 48  attacking_volleys            19239 non-null  float64
 49  skill_dribbling              19239 non-null  float64
 50  skill_curve                  19239 non-null  float64
 51  skill_fk_accuracy            19239 non-null  float64
 52  skill_long_passing           19239 non-null  float64
 53  skill_ball_control           19239 non-null  float64
 54  movement_acceleration        19239 non-null  float64
 55  movement_sprint_speed        19239 non-null  float64
 56  movement_agility             19239 non-null  float64
 57  movement_reactions           19239 non-null  float64
 58  movement_balance             19239 non-null  float64
 59  power_shot_power             19239 non-null  float64
 60  power_jumping                19239 non-null  float64
 61  power_stamina                19239 non-null  float64
 62  power_strength               19239 non-null  float64
 63  power_long_shots             19239 non-null  float64
 64  mentality_aggression         19239 non-null  float64
 65  mentality_interceptions      19239 non-null  float64
 66  mentality_positioning        19239 non-null  float64
 67  mentality_vision             19239 non-null  float64
 68  mentality_penalties          19239 non-null  float64
 69  mentality_composure          19239 non-null  float64
 70  defending_marking_awareness  19239 non-null  float64
 71  defending_standing_tackle    19239 non-null  float64
 72  defending_sliding_tackle     19239 non-null  float64
 73  goalkeeping_diving           19239 non-null  float64
 74  goalkeeping_handling         19239 non-null  float64
 75  goalkeeping_kicking          19239 non-null  float64
 76  goalkeeping_positioning      19239 non-null  float64
 77  goalkeeping_reflexes         19239 non-null  float64
 78  preferred_foot               19239 non-null  object
 79  work_rate                    19239 non-null  object
 80  body_type                    19239 non-null  object
dtypes: float64(51), int64(27), object(3)
memory usage: 11.9+ MB

In [154]:
# FEATURE ENGINEERING df_21
correlations = df_21.corr(numeric_only=True)
correlations['overall'].sort_values(ascending=False)

overall                 1.000000
movement_reactions      0.867234
mentality_composure     0.705252
passing                 0.662090
potential               0.636366
                          ...
goalkeeping_handling    0.003454
goalkeeping_diving      0.003128
goalkeeping_kicking    -0.000512
preferred_foot         -0.052533
work_rate              -0.233214
Name: overall, Length: 81, dtype: float64

Reason for correlation selection
negative corr()

In [175]:
# feature subset extraction
columns_with_high_correlation = correlations['overall'].sort_values(ascending=False)[correlations['overall'] > 0.45].index.tolist()
selected_cols = [col for col in columns_with_high_correlation if col not in weird_cols_true.columns]
print(len(selected_cols))

16

In [176]:
# FEATURES WITH BETTER CORRELATION greater than specified df_21
print(selected_cols)

['overall', 'movement_reactions', 'mentality_composure', 'passing', 'potential', 'release_clause_eur', 'dribbling', 'wage_eur', 'power_shot_power', 'value_eur', 'mentality_vision', 'attacking_short_passing', 'physic', 'skill_long_passing', 'age', 'shooting']

In [177]:
# FEATURE ENGINEERING df_22
correlations2 = df_22.corr(numeric_only=True)
correlations2['overall'].sort_values(ascending=False)

overall                    1.000000
movement_reactions         0.871823
mentality_composure        0.708867
passing                    0.663519
potential                  0.644275
dribbling                  0.618419
wage_eur                   0.601001
power_shot_power           0.561180
value_eur                  0.553823
release_clause_eur         0.532528
mentality_vision           0.523025
attacking_short_passing    0.516788
skill_long_passing         0.498216
physic                     0.491127
age                        0.459451
shooting                   0.454368
Name: overall, dtype: float64

In [178]:
# feature subset extraction
columns_with_high_correlation2 = correlations2['overall'].sort_values(ascending=False)[correlations2['overall'] > 0.45].index.tolist()
selected_cols2 = [col for col in columns_with_high_correlation2 if col not in weird_cols_true2.columns]
print(len(selected_cols2))

16

In [179]:
# FEATURES WITH BETTER CORRELATION greater than specified df_22
print(selected_cols2)

['overall', 'movement_reactions', 'mentality_composure', 'passing', 'potential', 'dribbling', 'wage_eur', 'power_shot_power', 'value_eur', 'release_clause_eur', 'mentality_vision', 'attacking_short_passing', 'skill_long_passing', 'physic', 'age', 'shooting']

In [180]:
# SELECTED FEATURES FOR TRAINING AND TESTING
df_21 = df_21[selected_cols]

In [181]:
df_22 = df_22[selected_cols]

In [182]:
df_21.head()

,overall,movement_reactions,mentality_composure,passing,potential,release_clause_eur,dribbling,wage_eur,power_shot_power,value_eur,mentality_vision,attacking_short_passing,physic,skill_long_passing,age,shooting
0,93.0,94.0,96.0,91.0,93.0,138400000.0,95.0,560000.0,86.0,103500000.0,95.0,91.0,65.0,91.0,33.0,92.0
1,92.0,95.0,95.0,81.0,92.0,75900000.0,89.0,220000.0,94.0,63000000.0,82.0,82.0,77.0,77.0,35.0,93.0
2,91.0,93.0,88.0,78.0,91.0,132000000.0,85.0,240000.0,89.0,111000000.0,79.0,84.0,82.0,70.0,31.0,91.0
3,91.0,91.0,93.0,86.0,91.0,166500000.0,94.0,270000.0,80.0,132000000.0,90.0,87.0,59.0,81.0,28.0,85.0
4,91.0,91.0,91.0,93.0,91.0,161000000.0,88.0,370000.0,91.0,129000000.0,94.0,94.0,78.0,93.0,29.0,86.0

In [183]:
# dependent and independent variables df_21
y21 = df_21['overall']
X21 = df_21.drop('overall', axis=1)

In [184]:
# SCALING
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler().fit(X21.copy())
X21=pd.DataFrame(scaler.transform(X21.copy()), columns=X21.columns)

In [236]:
#Saving the scaler
import pickle
filename = 'scaling2.pkl'
pickle.dump(scaler, open(filename, 'wb'))

In [185]:
# CROSS-VALIDATION
# KFold
from sklearn.model_selection import GridSearchCV, KFold

In [186]:
kf = KFold(n_splits=5, shuffle=True, random_state=42)
for train_index, test_index in kf.split(X21, y21):
    print(train_index, test_index)
    Xtrain = pd.DataFrame(X21, index=train_index)
    Xtest = pd.DataFrame(X21, index=test_index)
    Ytrain = pd.DataFrame(y21, index=train_index)
    Ytest = pd.DataFrame(y21, index=test_index)

[    1     2     4 ... 18939 18941 18943] [    0     3     6 ... 18937 18940 18942]
[    0     1     2 ... 18941 18942 18943] [    5     8    14 ... 18932 18933 18935]
[    0     1     2 ... 18941 18942 18943] [    7    10    12 ... 18921 18931 18939]
[    0     3     5 ... 18941 18942 18943] [    1     2     4 ... 18924 18928 18938]
[    0     1     2 ... 18939 18940 18942] [    9    11    13 ... 18936 18941 18943]

In [187]:
Xtrain.head()

,movement_reactions,mentality_composure,passing,potential,release_clause_eur,dribbling,wage_eur,power_shot_power,value_eur,mentality_vision,attacking_short_passing,physic,skill_long_passing,age,shooting
0,3.554438,3.137573,3.493625,3.586563,13.695696,3.433013,27.857178,2.119026,13.073165,3.000047,2.216206,0.058838,2.522017,1.655055,3.009606
1,3.664174,3.055051,2.461857,3.422893,7.312715,2.800094,10.662997,2.719163,7.809992,2.052781,1.598583,1.363898,1.601260,2.080838,3.085367
2,3.444701,2.477402,2.152326,3.259222,13.042079,2.378148,11.674420,2.344077,14.047827,1.834181,1.735833,1.907673,1.140882,1.229273,2.933845
3,3.225227,2.890009,2.977741,3.259222,16.565484,3.327526,13.191553,1.668922,16.776879,2.635714,1.941707,-0.593692,1.864334,0.590598,2.479280
4,3.225227,2.724966,3.699979,3.259222,16.003782,2.694607,18.248665,2.494112,16.387015,2.927180,2.422080,1.472653,2.653554,0.803490,2.555040

In [188]:
Ytrain.head()

   overall
0     93.0
1     92.0
2     91.0
3     91.0
4     91.0

In [189]:
from sklearn.metrics import mean_absolute_error, mean_squared_error

In [190]:
# 3 models before grid search

In [191]:
from sklearn.ensemble import RandomForestRegressor

In [192]:
rf = RandomForestRegressor(n_estimators=50, max_depth=10, criterion='absolute_error')
rf.fit(Xtrain, Ytrain)
y_pred = rf.predict(Xtest)

/Users/justicequagraine/anaconda3/lib/python3.11/site-packages/sklearn/base.py:1151: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  return fit_method(estimator, *args, **kwargs)

In [193]:
mean_absolute_error(Ytest, y_pred)

0.3314493136219642

In [194]:
np.sqrt(mean_squared_error(Ytest, y_pred))

0.5868576719600176

In [174]:
from sklearn.ensemble import GradientBoostingRegressor

In [200]:
gboost = GradientBoostingRegressor(init=rf, n_estimators=100, learning_rate=0.001, criterion='friedman_mse')
gboost.fit(Xtrain, Ytrain)
y_pred=gboost.predict(Xtest)

/Users/justicequagraine/anaconda3/lib/python3.11/site-packages/sklearn/ensemble/_gb.py:424: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [201]:
mean_absolute_error(Ytest, y_pred)

0.3356570705541582

In [202]:
np.sqrt(mean_squared_error(Ytest, y_pred))

0.5881662815238919

In [204]:
# !pip install xgboost

Collecting xgboost
  Obtaining dependency information for xgboost from https://files.pythonhosted.org/packages/6d/d1/3e954de1d492129710e8625349a7b86eb287a4f413c5b5c15522f89a6c04/xgboost-2.0.0-py3-none-macosx_12_0_arm64.whl.metadata
  Downloading xgboost-2.0.0-py3-none-macosx_12_0_arm64.whl.metadata (2.0 kB)
Requirement already satisfied: numpy in /Users/justicequagraine/anaconda3/lib/python3.11/site-packages (from xgboost) (1.24.3)
Requirement already satisfied: scipy in /Users/justicequagraine/anaconda3/lib/python3.11/site-packages (from xgboost) (1.10.1)
Downloading xgboost-2.0.0-py3-none-macosx_12_0_arm64.whl (1.9 MB)
   â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â”â” 1.9/1.9 MB 91.0 kB/s eta 0:00:0000:0100:01m
Installing collected packages: xgboost
Successfully installed xgboost-2.0.0

In [205]:
from xgboost.sklearn import XGBRegressor

In [213]:
xgb = XGBRegressor(
    n_estimators=100,
    learning_rate=0.00001,
    objective='reg:squarederror'
)
xgb.fit(Xtrain, Ytrain)
y_pred=xgb.predict(Xtest)

In [214]:
mean_absolute_error(Ytest, y_pred)

5.550547349037565

In [215]:
np.sqrt(mean_squared_error(Ytest, y_pred))

7.017601170157602

In [216]:
# GRID SEARCH

In [221]:
param_grid = {
    'n_estimators': [30, 40, 50, 100],
    'max_depth': [10, 15, 20],
    'criterion': ['absolute_error']
}

In [222]:
rf_grid_search = GridSearchCV(rf, param_grid, cv=kf, scoring='neg_mean_absolute_error')

In [223]:
rf_grid_search.fit(X21, y21)

GridSearchCV(cv=KFold(n_splits=5, random_state=42, shuffle=True),
             estimator=RandomForestRegressor(criterion='absolute_error',
                                             max_depth=10, n_estimators=50),
             param_grid={'criterion': ['absolute_error'],
                         'max_depth': [10, 15, 20],
                         'n_estimators': [30, 40, 50, 100]},
             scoring='neg_mean_absolute_error')

In [224]:
y_pred=rf_grid_search.best_estimator_.predict(Xtest)

In [225]:
mean_absolute_error(Ytest, y_pred)

0.14593980992608252

In [226]:
np.sqrt(mean_squared_error(Ytest, y_pred))

0.25925612964845335

In [227]:
#Saving A Model
filename = 'rf_fifa_model2.pkl'
pickle.dump(rf_grid_search, open(filename, 'wb'))

In [228]:
best_params = rf_grid_search.best_params_
best_model = rf_grid_search.best_estimator_
print(best_params)
print(best_model)

{'criterion': 'absolute_error', 'max_depth': 20, 'n_estimators': 100}
RandomForestRegressor(criterion='absolute_error', max_depth=20)

In [229]:
# EVALUATE df_22 (unseen data)
y22 = df_22['overall']
X22 = df_22.drop('overall', axis=1)

In [230]:
# scaling independent variable of df_22
X22 = pd.DataFrame(scaler.transform(X22.copy()), columns=X22.columns)

In [233]:
Xtest_22 = X22
Ytest_22 = y22
y_pred = rf_grid_search.best_estimator_.predict(Xtest_22)

In [234]:
mean_absolute_error(Ytest_22, y_pred)

0.5086644316232654

In [235]:
np.sqrt(mean_squared_error(Ytest_22, y_pred))

0.896933373113274